<html>
    <head>
        <link
            href="https://fonts.googleapis.com/css?family=Arima+Madurai"
            rel="stylesheet">
            <link rel="stylesheet" href="/css/style.css"> 
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
            integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
        <script
            src="https://kit.fontawesome.com/your-fontawesome-kit.js"
            crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        
        <%- include('layout/navbar.ejs') %>

        <ul id="searchResults" style="display: none;">
            <li><a href="/berita/berita.html" data-description="menampilkan berita dari terbaru, terlama bahkan yang sedang trending!">berita</a></li>
            <li><a href="/berita/berita.html" data-description="menampilkan berita dari terbaru, terlama bahkan yang sedang trending!">berita</a></li>
            <li><a href="#" data-description="Deskripsi result 2">Result 2</a></li>
            <li><a href="result3.html">Result 3</a></li> <!-- Menambahkan URL ke halaman Result 3 -->
            <!-- Tambahkan lebih banyak item daftar sesuai kebutuhan -->
            </ul>

            <div class="container-weather">
                <img src="" alt="Weather Icon" class="weather-icon" id="weather-icon">
                <div class="weather-info">
                    <p><i class="fas fa-clock icon"></i><span id="time"></span></p>
                    <p><i class="fas fa-calendar-alt icon"></i><span id="date"></span></p>
                    <p><span id="day-time"></span></p> <!-- Menampilkan waktu (pagi, siang, malam) -->
                    <p><i class="fas fa-tint icon"></i><span id="humidity"></span></p>
                    <p><i class="fas fa-wind icon"></i><span id="wind"></span></p>
                </div>
                <div class="temperature-info">
                    <p><i class="fas fa-thermometer-half icon"></i><span id="temperature"></span></p>
                    <p><i class="fas fa-cloud-sun-rain icon"></i><span id="weather"></span></p>
                    <p><i class="fas fa-water icon"></i><span id="humidity-icon"></span></p>
                </div>
            </div>
        
            <script>
                function updateDateTime() {
                    var now = new Date();
                    var dateElement = document.getElementById('date');
                    var timeElement = document.getElementById('time');
                    var dayTimeElement = document.getElementById('day-time'); // Menambahkan elemen untuk menampilkan waktu (pagi, siang, malam)
                    
                    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                    dateElement.innerText = now.toLocaleDateString('id-ID', options);
                    
                    timeElement.innerText = now.toLocaleTimeString('id-ID');

                    // Menentukan waktu (pagi, siang, malam) berdasarkan jam saat ini
                    var hour = now.getHours();
                    var dayTime;
                    if (hour >= 6 && hour < 12) {
                        dayTime = "Pagi";
                    } else if (hour >= 12 && hour < 18) {
                        dayTime = "Siang";
                    } else {
                        dayTime = "Malam";
                    }
                    dayTimeElement.innerText = dayTime;
                }

                function fetchWeather() {
                    var apiKey = '06504760ab969e993038a7a2dc8f6f36';
                    var city = 'Jakarta';
                    
                    fetch(`https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`)
                    .then(response => response.json())
                    .then(data => {
                        var weatherElement = document.getElementById('weather');
                        var temperatureElement = document.getElementById('temperature');
                        var weatherIconElement = document.getElementById('weather-icon');
                        var humidityElement = document.getElementById('humidity');
                        var windElement = document.getElementById('wind');

                        var weatherDescription = data.weather[0].description;
                        var temperature = data.main.temp;
                        var iconCode = data.weather[0].icon;
                        var humidity = data.main.humidity;
                        var windSpeed = data.wind.speed;

                        weatherElement.innerText = `${weatherDescription}`;
                        temperatureElement.innerText = `${temperature}°C`;
                        humidityElement.innerText = `Kelembapan: ${humidity}%`;
                        windElement.innerText = `Kecepatan Angin: ${windSpeed} m/s`;

                        // Menentukan ikon cuaca yang sesuai
                        if (iconCode.includes('n')) { // Malam
                            weatherIconElement.src = 'https://media.discordapp.net/attachments/1010915481990991943/1228671903648972890/moon.png?ex=662ce4e1&is=661a6fe1&hm=769f15dbd0c93e94a7b8b617f2c642576e02e50109786d28e7023f133cada0a0&=&format=webp&quality=lossless&width=585&height=585'; // Gambar bulan untuk malam
                        } else if (iconCode.includes('d')) { // Siang
                            weatherIconElement.src = 'https://media.discordapp.net/attachments/1010915481990991943/1228671933437186089/sun.png?ex=662ce4e8&is=661a6fe8&hm=16c5fda396d16441c595697f857bab6b6e14787081b7465e61099c66583cb353&=&format=webp&quality=lossless&width=585&height=585'; // Gambar matahari untuk siang
                        } else if (weatherDescription.includes('hujan')) { // Hujan
                            weatherIconElement.src = 'https://media.discordapp.net/attachments/1010915481990991943/1228673850720391414/weather-forcast-storm-rain-thunder-day_108615.png?ex=662ce6b1&is=661a71b1&hm=5d89fd35c9439f11d0ee80bc66f69c2f112e2fc78480ad589a5ad39b2c896f10&=&format=webp&quality=lossless&width=585&height=585'; // Gambar hujan untuk kondisi hujan
                        } else { // Pagi atau kondisi lainnya
                            weatherIconElement.src = `http://openweathermap.org/img/wn/${iconCode}.png`; // Gunakan ikon cuaca standar
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching weather data:', error);
                        var weatherElement = document.getElementById('weather');
                        var temperatureElement = document.getElementById('temperature');
                        weatherElement.innerText = 'Gagal mengambil data cuaca';
                        temperatureElement.innerText = '';
                    });
                }

                updateDateTime();
                fetchWeather();
                setInterval(updateDateTime, 1000);
            </script>

        <div>
          <div class="carousel">
            <ul class="slides">
              <input type="radio" name="radio-buttons" id="img-1" checked />
              <li class="slide-container">
                <div class="slide-image">
                  <img src="https://img.okezone.com/content/2022/05/09/338/2590960/usai-libur-lebaran-pengguna-bus-transjakarta-mulai-ramai-hari-ini-vjtOPRyA1q.jpg">
                </div>
                <div class="carousel-controls">
                  <label for="img-3" class="prev-slide">
                    <span>&lsaquo;</span>
                  </label>
                  <label for="img-2" class="next-slide">
                    <span>&rsaquo;</span>
                  </label>
                </div>
              </li>
              <input type="radio" name="radio-buttons" id="img-2" />
              <li class="slide-container">
                <div class="slide-image">
                  <img src="https://pbs.twimg.com/media/E2J86W2VIAMX7nN.jpg:large">
                </div>
                <div class="carousel-controls">
                  <label for="img-1" class="prev-slide">
                    <span>&lsaquo;</span>
                  </label>
                  <label for="img-3" class="next-slide">
                    <span>&rsaquo;</span>
                  </label>
                </div>
              </li>
              <input type="radio" name="radio-buttons" id="img-3" />
              <li class="slide-container">
                <div class="slide-image">
                  <img src="https://pbs.twimg.com/media/FPE2Nh0acAIg1Gs?format=jpg&name=large">
                </div>
                <div class="carousel-controls">
                  <label for="img-2" class="prev-slide">
                    <span>&lsaquo;</span>
                  </label>
                  <label for="img-1" class="next-slide">
                    <span>&rsaquo;</span>
                  </label>
                </div>
              </li>
              <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
              </div>
            </ul>
          </div>
        </div>

        <div class="peta-rute" id="peta-rute-tj">
            <h2>PETA JARINGAN TRANSJAKARTA</h2>
            <img
                src="https://smk.transjakarta.co.id/aset/berkas/rute/integrasi.jpg"
                alt="peta-rute"
                id="peta-tj">
        </div>

        <div class="koridor" ng-app="ngrepeatSelect" ng-controller="ExampleController" id="container-koridor">
          <div class="content">
              <form name="myForm">
                  <label for="repeatSelect" class="judul">Pilih Koridor yang akan dilihat</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.model" ng-options="option.id as option.id for option in data.availableOptions">
                      <option value="">Pilih</option>
                  </select>
              </form>
              
              <hr>
              <div ng-show="data.model">
                  <h2 class="judul">Gambar Koridor {{data.model}}</h2>
                  <img ng-src="{{getImageUrl(data.model)}}" alt="Gambar Koridor {{data.model}}" style="width: 600px; height: auto;">
              </div>
          </div>
      </div>
      
      <div class="content">
        
        <label for="search">Search:</label>
        
      <input type="text" id="search" oninput="searchTable()" placeholder="Type to search...">
      <table id="table">
      <thead>
        <td><tr>
            <th>Route ID</th>
            <th>Agency ID</th>
            <th>Route Short Name</th>
            <th>Route Long Name</th>
            <th>Route Description</th>
            <th>Route Type</th>
        </tr></td>
        </thead>
    </table>
      <table id="dataTable">
         
          <tbody>
              <% tjData.forEach(data => { %>
                  <tr>
                      <td><%= data.route_id %></td>
                      <td><%= data.agency_id %></td>
                      <td><%= data.route_short_name %></td>
                      <td><%= data.route_long_name %></td>
                      <td><%= data.route_desc %></td>
                      <td><%= data.route_type %></td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
      </div>
      <script>
   
            function searchTable() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("dataTable");
                tr = table.getElementsByTagName("tr");
    
                // Iterasi melalui setiap baris tabel
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td");
                    var found = false;
                    // Iterasi melalui setiap sel dalam baris
                    for (var j = 0; j < td.length; j++) {
                        var cell = td[j];
                        if (cell) {
                            txtValue = cell.textContent || cell.innerText;
                            // Jika nilai sel cocok dengan teks pencarian, tandai ditemukan
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                found = true;
                                break;
                            }
                        }
                    }
                    // Tampilkan atau sembunyikan baris berdasarkan hasil pencarian
                    if (found) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
    
                // Tampilkan atau sembunyikan tabel berdasarkan apakah ada hasil pencarian
                if (filter === "") {
                    table.style.display = "none"; // Sembunyikan tabel jika tidak ada pencarian
                } else {
                    table.style.display = ""; // Tampilkan tabel jika ada hasil pencarian
                }
            }
    
            // Sembunyikan tabel saat halaman dimuat
            document.addEventListener("DOMContentLoaded", function() {
                var table = document.getElementById("dataTable");
                table.style.display = "none";
            });
    
          angular.module('ngrepeatSelect', [])
          .controller('ExampleController', ['$scope', function($scope) {
              $scope.data = {
                  model: null,
                  availableOptions: [
                      { id: 1, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*OzwEdd5DJARerk80' },
                      { id: 2, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*OzwEdd5DJARerk80' },
                      { id: 3, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*b54Tyk7JtDsKV1I_' },
                      { id: 4, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*b54Tyk7JtDsKV1I_' },
                      { id: 5, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*EWnZhDkebISonFMb' },
                      { id: 6, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*EWnZhDkebISonFMb' },
                      { id: 7, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*g5Er02S3E3qYnQsk' },
                      { id: 8, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*g5Er02S3E3qYnQsk' },
                      { id: 9, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*5ABSG8ZSmQk0zk7F' },
                      { id: 10, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*5ABSG8ZSmQk0zk7F' },
                      { id: 11, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*sLfXnJyeiNesh4dL' },
                      { id: 12, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*sLfXnJyeiNesh4dL' },
                      { id: 13, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*vXBLYh9p0jkwkqdg' },
                      { id: 14, imageUrl: 'https://miro.medium.com/v2/resize:fit:4800/format:webp/0*vXBLYh9p0jkwkqdg' },
                  ]
              };
      
              $scope.getImageUrl = function(koridor) {
                  for (var i = 0; i < $scope.data.availableOptions.length; i++) {
                      if ($scope.data.availableOptions[i].id == koridor) {
                          return $scope.data.availableOptions[i].imageUrl;
                      }
                  }
                  return ''; 
              };
          }]);
      </script>

      <!-- Layanan Bus -->

        <div class="about-section" id="service-pages">
            <h1>Services</h1>
        </div>
        
        <div class="row">
            <div class="column">
            <div class="service-card">
                <img class="icon" src="https://media.discordapp.net/attachments/1010915481990991943/1224260079583367249/communication_assistance_help_support_service_information_icon_230570.png?ex=661cd80c&is=660a630c&hm=c311881a8813a91f389af9c511a1f701872c1219b8a3b5fb0f5717803d14aba3&=&format=webp&quality=lossless&width=585&height=585" alt="BRT">
                <div class="container">
                <h2>Layanan BRT TransJakarta</h2>
                <p>Layanan TransJakarta yang melayani pelanggan di jalur umum, yang berarti bus TransJakarta berbagi jalan dengan kendaraan lainnya</p>
                </div>
            </div>
            </div>
        
            <div class="column">
            <div class="service-card">
                <img class="icon" src="https://media.discordapp.net/attachments/1010915481990991943/1224260079901999194/communication_assistance_help_support_service_information_icon_230498.png?ex=661cd80c&is=660a630c&hm=0dd8e7cbbfe901718e963a80a83bc1a567d2a697c6de10daa949088b37e30685&=&format=webp&quality=lossless&width=585&height=585" alt="BST">
                <div class="container">
                <h2>Layanan BST TransJakarta</h2>
                <p>Layanan BRT yang memiliki jalur khusus yang terpisah dari kendaraan pribadi atau publik lainnya, kecuali kendaraan TransJakarta</p>
                </div>
            </div>
            </div>
        </div>
        
        <div class="about-section" id="benefit-pages">
            <h1>Benefit</h1>
        </div>
        
        <div class="row">
            <div class="column">
            <div class="benefit-card">
                <img class="icon" src="https://media.discordapp.net/attachments/1010915481990991943/1224016509060513853/thumb.png?ex=661bf534&is=66098034&hm=56be3e63a828a05f4cbe930b738eb33fccbc3ff59034c1ea013c122c869dc04b&=&format=webp&quality=lossless&width=585&height=585" alt="Like">
                <div class="container">
                <h2>Kelebihan</h2>
                <p>Tarif ongkos murah Bus Transjakarta adalah salah satu transportasi umum dengan tarif Rp 3500 sudah bisa keliling kota Jakarta dan Keamanan dan keselamatan lebih terjamin Keselamatan di dalam bus ini lebih terjamin karena mempunyai jalur tersendiri saat beroperasi di jalan.</p>
                </div>
            </div>
            </div>
        
            <div class="column">
            <div class="benefit-card">
                <img class="icon" src="https://media.discordapp.net/attachments/1010915481990991943/1224016508682899536/dislike.png?ex=661bf534&is=66098034&hm=db1143c91502873152545829f06f7fed910dbf948fe1c0b322f94681f0cd2355&=&format=webp&quality=lossless&width=585&height=585" alt="Dislike">
                <div class="container">
                <h2>Kekurangan</h2>
                <p>Frekuensi waktu menunggu cukup lama di saat menunggu bus tiba di halte bisa memakan waktu yang lama berkisaran antara 15-30 menit dan armadanya bus sedikit untuk jam sibuk di Jakarta biasanya penumpang busway overload sehingga penumpang harus bersempit-sempitan di dalam bus</p>
                </div>
            </div>
            </div>
        </div>

        <!-- Jenis Bus section-->

                <section id="projects">
                    <h1 class="section-title">Jenis Bus</h1>
                    <div class="projects container" id ="jenis-bus-page">
                        <div class="all-projects">
                            <!-- Project 1 -->
                            <div class="project-item card">
                                <div class="project-info">
                                    <div class="card-image">
                                        <img src="https://cdn4.uzone.id/assets/uploads/Uzone/Automotive/TransJakarta/IG_Zong_Thong.jpg" alt="img">
                                    </div>
                                    <div class="text-content">
                                        <h2>Bus Gandeng Zhongtong</h2>
                                        <p>Bus Gandeng Zhongtong adalah kendaraan transportasi yang diproduksi oleh perusahaan Zhongtong Bus Holding Co., Ltd. 
                                            Bus ini memiliki ukuran yang besar dan mampu menampung banyak penumpang, dengan kapasitas yang bervariasi tergantung pada modelnya. 
                                            Dilengkapi dengan mesin yang kuat dan efisien dalam konsumsi bahan bakar, bus ini dapat menggunakan mesin diesel atau alternatif lainnya seperti mesin listrik atau hibrida. Desain interiornya dirancang untuk kenyamanan penumpang, dengan berbagai fitur dan fasilitas yang tersedia sesuai kebutuhan perjalanan.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Project 2 -->
                            <div class="project-item card">
                                <div class="project-info">
                                    <div class="card-image">
                                        <img src="https://cdn.medcom.id/dynamic/content/2015/07/15/147805/n9y17HuUEc.jpg?w=700" alt="img">
                                    </div>
                                    <div class="text-content">
                                        <h2>Bus Gandeng Scania</h2>
                                        <p>Bus Gandeng Scania adalah jenis bus yang terdiri dari dua bagian yang dihubungkan secara fleksibel dan ditarik oleh truk traktor Scania. Bus ini dirancang untuk memberikan kapasitas penumpang yang besar serta efisiensi dalam penggunaan bahan bakar. Dilengkapi dengan mesin diesel bertenaga tinggi, transmisi otomatis, 
                                            dan sistem suspensi yang nyaman, Bus Gandeng Scania mampu menangani perjalanan jarak jauh dengan stabil dan aman. 
                                            Dengan desain yang ergonomis dan fitur-fitur keselamatan canggih, seperti rem anti terkunci (ABS) dan sistem kontrol traksi (TCS), bus ini menawarkan kenyamanan dan keamanan bagi penumpang serta pengemudi.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Project 3 -->
                            <div class="project-item card">
                                <div class="project-info">
                                    <div class="card-image">
                                        <img src="https://1.bp.blogspot.com/-Jz1Xduwtde0/Xr6gznlagAI/AAAAAAAAAPo/xl0IRPF0vcQ1jvPDOA7bgbmSXF8OU1NogCPcBGAYYCw/s1600/25986895798_e21c7d45d8_o.jpg" alt="img">
                                    </div>
                                    <div class="text-content">
                                        <h2>Bus Gandeng Yutong</h2>
                                        <p>
                                            Bus Gandeng Yutong adalah jenis bus yang terdiri dari dua bagian yang dihubungkan secara fleksibel dan ditarik oleh truk traktor. 
                                            Dirancang oleh produsen terkemuka Yutong, bus ini menawarkan kapasitas penumpang besar dan efisiensi bahan bakar yang tinggi. 
                                            Dengan menggunakan teknologi terkini, seperti mesin diesel yang kuat dan ramah lingkungan, serta sistem transmisi otomatis, Bus Gandeng Yutong menawarkan kinerja yang handal dan ramah lingkungan. 
                                            Fitur-fitur keselamatan seperti rem ABS dan sistem kontrol traksi juga diimplementasikan untuk memastikan keamanan selama perjalanan.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Project 4 -->
                            <div class="project-item card">
                                <div class="project-info">
                                    <div class="card-image">
                                        <img src="https://live.staticflickr.com/4194/34429013265_fd88f46701_b.jpg" alt="img">
                                    </div>
                                    <div class="text-content">
                                        <h2>Bus Hino</h2>
                                        <p>
                                            Bus Hino adalah kendaraan transportasi penumpang yang diproduksi oleh Hino Motors, 
                                            salah satu produsen kendaraan komersial terkemuka di dunia. Bus ini tersedia dalam berbagai model dan konfigurasi untuk memenuhi berbagai kebutuhan transportasi. 
                                            Dengan mesin diesel yang efisien dan handal, serta sistem transmisi yang canggih, Bus Hino menawarkan kinerja yang stabil dan hemat bahan bakar. 
                                            Selain itu, dilengkapi dengan beragam fitur kenyamanan dan keselamatan, seperti sistem suspensi yang nyaman, AC, dan sistem pengereman ABS, Bus Hino memberikan pengalaman perjalanan yang aman dan menyenangkan bagi penumpangnya.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Project 5 -->
                            <div class="project-item card">
                                <div class="project-info">
                                    <div class="card-image">
                                        <img src="https://live.staticflickr.com/1766/42375213795_80d00032d5_b.jpg" alt="img">
                                    </div>
                                    <div class="text-content">
                                        <h2>Bus Mercedez-Benz</h2>
                                        <p>Bus Mercedes-Benz Transjakarta adalah bus yang digunakan dalam sistem transportasi Transjakarta di Jakarta, Indonesia. 
                                            Dibuat oleh Mercedes-Benz, bus ini memiliki desain yang ergonomis dan nyaman untuk penumpang, serta dilengkapi dengan fitur-fitur keselamatan seperti rem ABS dan sistem kontrol traksi. 
                                            Ditenagai oleh mesin diesel yang efisien, Bus Mercedes-Benz Transjakarta menawarkan kinerja yang handal dan ramah lingkungan. 
                                            Dengan kapasitas penumpang yang besar dan interior yang luas, bus ini menjadi pilihan transportasi publik yang populer di Jakarta.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Project 6 -->
                            <div class="project-item card">
                                <div class="project-info">
                                    <div class="card-image">
                                        <img src="https://live.staticflickr.com/4896/32753182268_fbfa38c6b8_b.jpg" alt="img">
                                    </div>
                                    <div class="text-content">
                                        <h2>Bus Tingkat Bus Coach International (BCI)</h2>
                                        <p>Bus Tingkat Bus Coach International (BCI) Transjakarta adalah kendaraan bus yang digunakan dalam sistem transportasi Transjakarta di Jakarta, Indonesia. 
                                            Diproduksi oleh Coach International (BCI), bus ini memiliki desain tingkat dengan lantai atas dan bawah yang memungkinkan kapasitas penumpang yang lebih besar dibandingkan dengan bus konvensional. 
                                            Dilengkapi dengan mesin diesel yang efisien dan teknologi transmisi canggih, Bus Tingkat BCI Transjakarta menawarkan kinerja yang handal dan ramah lingkungan. 
                                            Selain itu, bus ini dilengkapi dengan beragam fitur kenyamanan seperti AC, tempat duduk yang ergonomis, dan sistem pengereman ABS untuk meningkatkan keselamatan selama perjalanan.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Project 7 -->
                            <div class="project-item card">
                                <div class="project-info">
                                    <div class="card-image">
                                        <img src="https://suaranusantara.com/wp-content/uploads/2017/03/Bus-wisata-gratis-2.jpg" alt="img">
                                    </div>
                                    <div class="text-content">
                                        <h2>Bus Tingkat MAN</h2>
                                        <p>
                                            Bus Tingkat MAN Transjakarta adalah jenis bus yang digunakan dalam sistem transportasi Transjakarta di Jakarta, Indonesia, yang diproduksi oleh MAN Truck & Bus AG, sebuah perusahaan Jerman. 
                                            Bus ini memiliki desain tingkat dengan lantai atas dan bawah yang memungkinkan kapasitas penumpang yang lebih besar daripada bus konvensional. 
                                            Ditenagai oleh mesin diesel yang efisien dan ramah lingkungan, serta dilengkapi dengan teknologi transmisi canggih, Bus Tingkat MAN Transjakarta menawarkan kinerja yang handal dan hemat bahan bakar. 
                                            Fitur-fitur kenyamanan seperti AC, tempat duduk ergonomis, dan sistem pengereman ABS juga tersedia untuk meningkatkan pengalaman penumpang dan keselamatan perjalanan.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Project 8 -->
                            <div class="project-item card">
                                <div class="project-info">
                                    <div class="card-image">
                                        <img src="https://asset.kompas.com/data/photo/2015/06/26/101030020150626-100801780x390.jpg" alt="img">
                                    </div>
                                    <div class="text-content">
                                        <h2>Bus Tingkat Mercedez-Benz</h2>
                                        <p>Bus Tingkat Mercedes-Benz Transjakarta adalah jenis bus yang digunakan dalam sistem transportasi Transjakarta di Jakarta, Indonesia, yang diproduksi oleh Mercedes-Benz, produsen otomotif ternama. 
                                            Bus ini memiliki desain tingkat dengan lantai atas dan bawah yang memungkinkan kapasitas penumpang yang lebih besar daripada bus konvensional. 
                                            Dengan mesin diesel yang efisien dan ramah lingkungan, serta sistem transmisi yang canggih, Bus Tingkat Mercedes-Benz Transjakarta menawarkan kinerja yang handal dan hemat bahan bakar. 
                                            Dilengkapi dengan berbagai fitur kenyamanan seperti AC, tempat duduk ergonomis, dan sistem pengereman ABS, bus ini menyediakan pengalaman perjalanan yang nyaman dan aman bagi penumpangnya.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- End Jenis Bus section-->


                <div class="responsive-container-block bigContainer" id="about-pages">
                  <div class="responsive-container-block Container bottomContainer">
                    <div class="ultimateImg">
                      <img class="mainImg" src="https://transjakarta.co.id/wp-content/uploads/IMG_2206.jpg">
                      <div class="purpleBox">
                        <p class="purpleText">
                          "TransJakarta memberikan solusi transportasi yang efisien dan nyaman di Jakarta. Armada modern dan sistem pembayaran praktis membuat perjalanan lebih mudah dan mengurangi kemacetan."
                        </p>
                        <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
                      </div>
                    </div>
                    <div class="allText bottomText">
                      <p class="text-blk headingText">
                        About
                      </p>
                      <p class="text-blk subHeadingText">
                        TransJakarta
                      </p>
                      <p class="text-blk description">
                        TransJakarta adalah sistem transportasi bus cepat yang beroperasi di Jakarta, ibu kota Indonesia. Diluncurkan pada tahun 2004, TransJakarta memiliki rute-rute yang melintasi berbagai wilayah di Jakarta dan sekitarnya. Armada busnya dilengkapi dengan fasilitas modern seperti AC, WiFi, dan sistem pembayaran elektronik. TransJakarta menjadi salah satu solusi untuk mengurangi kemacetan di Jakarta dan meningkatkan mobilitas penduduk kota.
                      </p>
                      <a class="explore" href="#service-pages">
                        View Services
                      </a>
                    </div>
                  </div>
                </div>

                <div class="container" id="contact-pages">
                    <div style="text-align:center">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="row">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804.8910555312973!2d106.78911699744816!3d-6.168908473743638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f65c8572640d%3A0xc0a066d78372614e!2sUniversitas%20Tarumanagara!5e0!3m2!1sid!2sid!4v1709405242739!5m2!1sid!2sid"
                            width="750"
                            height="600"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="map"></iframe>

                        <div class="column">
                            <form action="/" method="post" onsubmit="return validateForm();">
                                <div class="coolinput">
                                    <label for="input" class="text">Name Depan</label>
                                    <input type="text" id="fname" name="firstname" placeholder="Write here..." name="input" class="input">
                                </div>
                                <div class="coolinput">
                                    <label for="input" class="text">Name Belakang</label>
                                    <input type="text" id="lname" name="lastname" placeholder="Write here..." name="input" class="input">
                                </div>
                                <label for="country">Daerah</label>
                                <select id="country" name="country">
                                    <option value="jakarta-barat">Jakarta Barat</option>
                                    <option value="jakarta-timur">Jakarta Timur</option>
                                    <option value="jakarta-selatan">Jakarta Selatan</option>
                                    <option value="jakarta-utara">Jakarta Utara</option>
                                    <option value="cibubur">Cibubur</option>
                                    <option value="bekasi">Bekasi</option>
                                    <option value="depok">Depok</option>
                                    <option value="tangerang">Tangerang</option>
                                </select>
                                <label for="subject">Kendala</label>
                                <textarea
                                    id="subject"
                                    name="subject"
                                    placeholder="Write something.."
                                    style="height:170px"></textarea>
                                <button class="button-85" role="button" type="submit" value="Submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <script>
                    //Validasi data untuk contact us
function validateForm() {
    var fname = document.getElementById("fname").value;
    var lname = document.getElementById("lname").value;
    var subject = document.getElementById("subject").value;
    
    if (fname == "" || lname == "" || subject == "") {
        alert("Data segera isi kembali");
        return false;
    }
    else {
        alert("Data terkirim");
        return true;
    }
}
                </script>

                <%- include('layout/footer.ejs') %>      

                <script src="script.js"></script>
            </body>
        </html>